<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sylu.com.doctorscheduling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".debug.Test_layout"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".debug.Test_Layout2" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".debug.Test" />
        <activity android:name=".main.muban.Doctor_List_Activity" />

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".main.LoginActivity"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".main.SignupActivity"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".main.ForgotPwdActivity"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".main.muban.Doctor_Details_Activity"
            android:theme="@style/Theme.Login" />
    </application>

</manifest>